body {
    background-color: #fdf0d5;
}

header{
    text-align: center;
    padding-top: 30px;
}

 @font-face {
        font-family: komika title;
        src: url(KOMTIhttps://www.dafont.com/komika-title.charmap?f=3&back=themeTT_.ttf);
 }

h1 {
    color: #780000

}

h2 {
    color: #780000
}

p {
    font-family: komika title;
} 

nav a {
    background: #003049;
    font-family: otsikko, "sans serif";
    color:#fdf0d5;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #669bbc;
}

nav a:hover {
    color: #003049;
    background-color: #669bbc;
}

#valittu {
    color: #003049;
    background-color:rgba(255, 235, 205, 0.6);
}