body {
    background-color: #fdf0d5;
}

header{
    background-image: url("");
    text-align: center;
    padding-top: 30px;
}

 @font-face {
        font-family: otsikko;
        src: url(../Fontti/komika.ttf);
 }

 @font-face {
    font-family: leipateksti;
    src: url(../Fontti/leipa.ttf);
 }

 a {
    font-family: otsikko;
 }

h1 {
    font-family: sans-serif;
    font-size: 32px;
    color: #780000;


}

h2 {
    color: #780000
}

p {
    font-family: leipateksti;
    font-size: 22px;
} 

nav a {
    background: #003049;
    font-family: otsikko, "sans serif";
    color:#fdf0d5;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #669bbc;
}

nav a:hover {
    color: #003049;
    background-color: #669bbc;
}

#valittu {
    color: #003049;
    background-color: #a2c4dc;
}

footer{
    font-family: komika title, "sans serif";
    font-size: 18px;
    color: #003049;
    background-color: #669bbc;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: auto;
}