body {
    background-color: #fdf0d5;
}

header{
    text-align: center;
    padding-top: 30px;
}

h1 {
    color: #780000

}

h2 {
    color: #780000
}
 @font-face {
        font-family: komika title;
        src: url(KOMTIhttps://www.dafont.com/komika-title.charmap?f=3&back=themeTT_.ttf);
 }

p {
    font-family: komika title;
} 